/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import "navbar.scss";

.logo-app{
  margin-top: 15%;
  margin-bottom: 15%;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.main-view{
	padding-top: 10px;
	padding-bottom: 10px;
}

.pagination-custom{
	text-align: center;
}

.btn-submit-form{
	margin-top: 10px;
	text-align: right;
}

.remove-chapter{
	padding: 5px;
	text-align: right;	
}

.remove-chapter a{
	text-decoration-line: none;
	color: #ff0000 !important;	
}

.chapter-detail{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 10px;
	padding: 10px;
  background-color: #f2f2f2;
}

